.contenido{
    width: 100%;
    background-color: white;
    height: 630px;
}

.empty{
    height: 189px;
    z-index: 7;
}

.triangulo1{
    width: 0;
    height: 0;
    border-right: 150px solid transparent;
    border-top: 150px solid #ffffff;
    border-left: 150px solid #ffffff;
    border-bottom: 150px solid transparent;
}

.aboutmeimg{
    width: 350px;
    height: 350px; 
    margin-left: 480px;
    margin-top: -160px;
    display:block;
    justify-content: center;
    background-color: aqua;
    background-image: url(../src/imag/IMAGENES/Captura.JPG);
    background-size: cover;
    background-position: 100%;
    z-index: 1;
    justify-items: center;
    position: relative;

}

.resumen{
    color: #0D3686;
    font-size: 30px;
    padding: 100px;
    border-top-width: 100px; 
    position: relative;
    z-index: 2;  
}
