.home{
    width: 100%;
    height: 750px;
    display: flex;
    margin-top: -100px;
    justify-content: right;
    background-color: aqua;
    background-image: url(../src/imag/fondo.jpg);
    background-size: cover;
    background-position: 100%;
    z-index: 2;
    justify-items: right;
}

.trianguloBlanco1{
    margin-top: 140px;
    width: 0;
    height: 0;
    border-right: 350px solid #ffffff;
    border-top: 350px solid transparent;
    border-left: 350px solid transparent;
    border-bottom: 350px solid #ffffff;
}


.empty{
    height: 99px;
    z-index: 7;
}

h1{
    margin-top: -90px;
    font-size: 90px;   
}

.saludo{
    color: #0D3686;
    margin-top: -260px;
    margin-left: 60px;  
}

.circulo {
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF498B;
    margin-left: 950px;  
    margin-top: -540px;
    position: relative;
    z-index: 4;   
}

.cargo{
    margin-top: 20px;
    font-size: 60px;   
    color: #0D3686;
    margin-left: 950px;  
}